<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Shopping List</h2>
    <h4 th:unless="${items} and ${items.size()}">Shopping List is empty</h4>
    <table th:each="item : ${items}" class = "job-listing">
        <tr>
            <td th:text="${item.name}"></td>
            <td th:text ="${item.price}"></td>
        </tr>
    </table>
    <a th:href="@{'/shopping/add'}">Add Item</a>
    <a th:href="@{'/shopping/delete'}">Delete Item</a>

</div>

</body>
</html>