<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Shopping List</h2>
    <a th:href="@{'/shopping/add'}">Add Item</a>
    <a th:href="@{'/shopping/delete'}">Delete Item</a>
    <h4 th:unless="${items} and ${items.size()}">Shopping List is empty</h4>

    <table th:each="item : ${items}" class = "job-listing">
        <tr>
            <th th:text="${item.name}"></th>
        </tr>
    </table>
</div>


<!--<button onclick="topFunction()" id="myBtn" title="Go to top">Top of page</button>-->
</body>
</html>