<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2>Recipes</h2>
        <h4 th:unless="${recipes} and ${recipes.size()}">Recipe List is empty</h4>
    <a th:href="@{'/recipes/add'}">Add Recipe</a>
    <a th:href="@{'/recipes/delete'}">Delete Recipe</a>

    <table th:each="recipe : ${recipes}" class = "job-listing">

        <tr>
            <th>Recipe:</th>
            <td th:text="${recipe.name}"></td>

        </tr>
        <tr>
            <th>URL:</th>
            <td th:text ="${recipe.url}"></td>
        </tr>
    </table>
</div>

</body>
</html>